n8n/n8n.brief.json
{
  "name": "Daily Briefing - Weather + Alert + Log",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "8cc08948-567d-45d7-91ab-2b2fdcde008a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m,relative_humidity_2m,wind_speed_10m,weather_code&timezone=Europe%2FBerlin",
        "options": {}
      },
      "id": "8b7dfa11-45b6-4c02-a663-0459dcdf5900",
      "name": "HTTP Request - Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "temperature",
              "type": "numberValue",
              "numberValue": "={{ Number($json.current.temperature_2m) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f44c926-b02c-4c93-bad5-16d98897ee40",
      "name": "Set - Transform Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{ $json.temperature }}",
              "operation": "largerEqual",
              "value2": 20
            }
          ]
        }
      },
      "id": "aaa06dab-4248-41a7-b832-566ed8c07db7",
      "name": "IF - Critical Condition?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "fromEmail": "szbepam@gmail.com",
        "toEmail": "szbepam@gmail.com",
        "subject": "🚨 Daily Briefing: Hot Weather Alert in Berlin",
        "text": "=Temperature: {{ $json.temperature }}°C\nHumidity: {{ $json.current.relative_humidity_2m }}%\nWind: {{ $json.current.wind_speed_10m }}km/h\nCondition: {{ $json.condition || 'Normal' }}\n\nStay cool!",
        "options": {}
      },
      "id": "4ec3dd09-8fad-4665-a797-94d9dbe1cd75",
      "name": "Send Email - Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "WM6WmFjJmER7YU9k",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "DailyBriefing",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mapping": {
            "City": "={{ $json.city }}",
            "Temperature": "={{ $json.temperature }}",
            "Humidity": "={{ $json.humidity }}",
            "Wind Speed": "={{ $json.wind_speed }}",
            "Condition": "={{ $json.condition }}",
            "Timestamp": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "62209c47-6a6b-4b37-99c3-ff4a131e78c3",
      "name": "Google Sheets - Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hhxcLEXAtBBZDCc3",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Weather": {
      "main": [
        [
          {
            "node": "Set - Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Transform Data": {
      "main": [
        [
          {
            "node": "IF - Critical Condition?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Critical Condition?": {
      "main": [
        [
          {
            "node": "Send Email - Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "0fCyZ7K4wqbD8GeQ",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5a060403-ad45-40b6-8801-bea475a9ba50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ef2ed4dcaac7980ea2d0d1aa024656de3be6acccd36ec177bc2a16b05acefca"
  },
  "nodeGroups": [],
  "id": "PXvPNBXP8aumys5N",
  "tags": []
}